
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}


:root {
  --color-dark-blue: #29263D;
  --color-white: #ffffff;
  --color-electric-blue: #2266AA;
  --color-electric-purple: #921EC9;
  --color-grayish-blue: #625AA9;
  --color-gray: #5D587C;
  --color-purple-shadow: #57476E;
  --color-blue-shadow: #3F406E;
}

*{
	box-sizing: border-box;
	font-family: Roboto-Medium;
	font-weight: 100;
}
a{
	color: var(--color-dark-blue);
}

html{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
	min-height: 100%;
	overflow: hidden;
  	position: relative;
}

h1{font-size: 64px;}

h2{font-size: 32px;}

button{border: none;}

body{
	margin: 0;
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-self: flex-end;
}

.cursor-none{cursor:none}
#header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 26px;
}

#header a{
	text-decoration: none;
	color: var(--color-white);
	font-size: 24px;
	font-weight: light;
	font-family: Roboto-Light;
}

#header a span{
	font-family: Roboto-Bold;
}

.cta-main-button, .cta-secondary-button{
	font-size: 36px;
	font-weight: bold;
	color: white;
	margin: 15px;
	padding: 10px 20px 10px 20px;
	font-weight: 100;
	position: relative;
}

.cta-main-button{
	background-color: var(--color-electric-purple);
	box-shadow: -10px 10px var(--color-purple-shadow);
}

.cta-secondary-button{
	background-color: var(--color-electric-blue);
	box-shadow: -10px 10px var(--color-blue-shadow);
}

.cta-main-button:not(.no-hover):hover, .cta-secondary-button:not(.no-hover):hover{
	animation: grows 0.0s forwards; 
}
.animate-slide-up{
	position: relative;
	top: 100vh;
	animation: slide 1s forwards;
}


.animate-fly-right{
	animation: fly-right 0.5s forwards; 
}
.animate-fly-left{
	animation: fly-left 0.5s forwards; 
}



@keyframes slide{
	100% { top: 0px;}
}

@keyframes grows{
	100% { transform: scale(1.1)}
}

@keyframes fly-right {
	100% { transform: translate(150vw,0vw);}
}

@keyframes fly-left {
	100% { transform: translate(-150vw,0vw);}
}

.random-text{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.random-text{
	position: absolute;
	top: 0px;
	color: var(--color-gray);
	font-size: 24px;
	height: 100%;
	overflow: hidden;
	padding:0px;
	margin: 0px;
	z-index: -1;
	font-family: Roboto-Light;
}

.random-text-left{
	left: 0px;
	text-align: left;
	width: 15%;
}

.random-text-right{
	right: 0px;
	text-align: right;
	width: 30%;
}

.display-none{
    display: none !important;
}

#chat-with-me-container{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}

#chat-with-me-container > div{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}
