
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}


:root {
  --color-dark-blue: #29263D;
  --color-white: #ffffff;
  --color-electric-blue: #2266AA;
  --color-electric-purple: #921EC9;
  --color-gray: #5D587C;
  --color-purple-shadow: #57476E;
  --color-blue-shadow: #3F406E;
}

*{
	box-sizing: border-box;
	font-family: Roboto-Medium;
	font-weight: 100;
}

html{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark-blue);
	color: white;
	min-height: 100%;
}

h1{font-size: 64px;}

h2{font-size: 32px;}

button{border: none;}

body{width: 50%;}
.content{width: 100%; min-height: 400px;}

#header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 26px;
}

#header a{
	text-decoration: none;
	color: var(--color-white);
	font-size: 24px;
	font-weight: light;
	font-family: Roboto-Light;
}

#header a span{
	font-family: Roboto-Bold;
}



.cta-main-button{
	font-size: 36px;
	font-weight: bold;
	color: white;
	background-color: var(--color-electric-purple);
	box-shadow: -10px 10px var(--color-purple-shadow);
	margin: 10px;
	padding: 10px 20px 10px 20px;
	font-weight: 100;
	opacity: 0;
	position: relative;
	top: 100px;
	animation: slide 0.5s forwards;
    animation-delay: 1.1s;
	-webkit-animation:slide 0.5s forwards;
	-webkit-animation-delay:1.1s;
}

.cta-secondary-button{
	font-size: 36px;
	color: white;
	font-weight: bold;
	background-color: var(--color-electric-blue);
	box-shadow: -10px 10px var(--color-blue-shadow);
	margin: 10px;
	padding: 10px 20px 10px 20px;
	font-weight: 100;
	opacity: 0;
	position: relative;
	top: 100px;
	animation: slide 0.5s forwards;
    animation-delay: 1.1s;
	-webkit-animation:slide 0.5s forwards;
	-webkit-animation-delay:1.1s;
}

#index-subtitle{
	opacity: 0;
	position: relative;
	top: 100px;
	animation: slide 0.5s forwards;
    animation-delay: 1s;
	-webkit-animation:slide 0.5s forwards;
	-webkit-animation-delay:1s;
}

@-webkit-keyframes slide {
    100% { top: 0px; opacity: 1;}
}

@keyframes slide{
	100% { top: 0px; opacity: 1;}
}

.random-text{
	position: absolute;
	top: 0px;
	color: var(--color-gray);
	font-size: 24px;
	height: 100%;
	overflow: hidden;
	padding:0px;
	margin: 0px;
	z-index: -1;
	font-family: Roboto-Light;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.random-text-left{
	left: 0px;
	text-align: left;
	width: 15%;
}

.random-text-right{
	right: 0px;
	text-align: right;
	width: 30%;
}